.git
.env
*.env
!.env.sample
node_modules
frontend/node_modules
frontend/dist
backend/static
__pycache__
*.pyc
.venv
venv
.pytest_cache
README.md
docker-compose.override.yml
docker-compose.override.yml.example
